// Globals
$raleway: 'Raleway', sans-serif
$roboto: 'Roboto Condensed', sans-serif

$orange-color: #F0793C
$orange-gradient: linear-gradient(38.6deg, #EE9423 12.88%, #F15E56 98.79%)
$white-gradient: linear-gradient(1.25deg, #FEE8D0 37.62%, #FFF8F1 95.02%)