// Globals
$raleway: 'Raleway', sans-serif
$roboto: 'Roboto Condensed', sans-serif

$orange-color: linear-gradient(180.02deg, #EE9422 -13.89%, #F15B59 71.5%)
$white-color: #FEE8D0
$white-gradient: linear-gradient(1.25deg, #FEE8D0 37.62%, #FFF8F1 95.02%)

%button-text-orange
  background: $orange-color
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent